.grey-ceklok-text {
  color: #5a5a5a !important;
}

.detail-room  {
    width: 73.666667%;
    margin-left: auto;
    left: auto;
    right: auto;

}

.list-ceklok {
	padding: 0px !important;
	margin:4px auto;
	transition: all 0.3s ease-out;
}

.list-ceklok:hover {
	padding: 0px !important;
	background-color: #f7fcff !important;
	transition: all 0.3s ease-out;
}


.list-ceklok .s3 {
	padding: 0px !important;
}

.list-ceklok img {
	padding: 10px;
	margin: 0;
}

.btn-pay, .btn-search {
	border-radius: 100px;
	border: 1px #2196f3 solid;
	background-color: white;
	color: #2196f3;

}

.btn-search {
	margin: 15px 20px;
}

.right-ceklok {
	margin: 15px auto auto auto;
}

.right-ceklok p {
	margin: 5px auto;
}

.btn-pay:hover, .btn-search:hover {
	background-color: #2196f3;
	color: white;
	box-shadow: 0 1px 5px 0 rgba(0,0,0,0.05), 0 4px 7px 0 rgba(0,0,0,0.05);
}

.filter-ceklok {
	border-width: 1px;
	border-style: dashed;
	border-color: #bebebe;
  	background-color: #f7fbff !important;
	transition: all 0.3s ease-out;

}

.filter-ceklok:hover {
  	background-color: #e9f2fb !important;
	transition: all 0.3s ease-out;

}

.filter-ceklok a {
	font-weight: 500;
}

.category-ceklok {
		line-height: 40px;
		font-size: 16px;
		font-weight: bold;
}


[type="checkbox"]:checked+label:before {
    top: -4px;
    left: -3px;
    width: 12px;
    height: 22px;
    border-top: 2px solid transparent !important;
    border-left: 2px solid transparent !important;
    border-right: 2px solid #FFFFFF  !important;
    border-bottom: 2px solid #FFFFFF  !important;
    -webkit-transform: rotate(40deg);
    -moz-transform: rotate(40deg);
    -ms-transform: rotate(40deg);
    -o-transform: rotate(40deg);
    transform: rotate(40deg);
    -webkit-backface-visibility: hidden;
    -webkit-transform-origin: 100% 100%;
    -moz-transform-origin: 100% 100%;
    -ms-transform-origin: 100% 100%;
    -o-transform-origin: 100% 100%;
    transform-origin: 100% 100%

}

label,.category-ceklok {
	color: #5a5a5a;
}

.filter-ceklok .checkbox-ceklok {
	line-height: 30px;
}

.search-ceklok {
	background-color: white !important;
	border-bottom: 1px dashed #b8b8b8;
	margin: 20px auto;
	padding-bottom: 10px !important;
}

.search-ceklok .col {
	padding: 5px;
}

.btn-search i.left {
	margin-right: 5px;
}

.airy {
	 position: absolute;
  bottom: 0;
  right: 0;
  display: flex;
  height: 134px;
}


.nav-wrapper-breadcrumb {
	margin: 10px;
}

.detail-ceklok .location {
	text-decoration: underline;
}

.room-name {
	font-size: 26px !important;
}

.detail-facilities ul li {
	display: inline;
	margin: 10px 5px;
}

.detail-facilities ul {
	margin: 0;
}

.detail-facilities i {
	margin: auto 5px;
	color: #2196f3;
}

.input-field .prefix {
	color: grey;
}

.package-name {
	width: 100%;
}

.package-name .card-title {
	color: white;
	padding: 25px;
}

.package .collection {
	border: none;
}

.package .collection-item {
	border:none;
}
/*1px solid #e0e0e0*/